# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo


# UPDATES FOR DYLAN
# Installed React Native Elements Library
#  > npm install @rneui/themed @rneui/base
#  > npm install react-native-safe-area-context

# Installed Google Firebase
#  > npx expo install firebase

# Installed React Navigation
#  > npm install @react-navigation/native
#  > npx expo install react-native-screens

# Google Firebase Authentication Process
#  > npx expo customize metro.config.js

# npx expo install expo-auth-session expo-crypto expo-web-browser
# npx expo install expo-dev-client

# FOR LOCAL STORAGE
# npx expo install @react-native-async-storage/async-storage

# EAS for Android fingerprint credentials
# npm install -g eas-cli

# For iOS/Android bundlers using oAuth & Google Cloud
# npx expo prebuild
# npx expo prebuild --platform ios

# Getting SHA1 Fingerprint Credential for Android use
#  > eas credentials -p android
#  > production
#  > Keystore
#  > Set up a new Keystore
#  > Hit enter on "Assign a name to your build credentials"
#  > Generate a new Android Keystore: YES

