# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


# UPDATES FOR DYLAN
# Installed React Native Elements Library
#  > npm install @rneui/themed @rneui/base
#  > npm install react-native-safe-area-context

# Installed Google Firebase
#  > npx expo install firebase

# Installed React Navigation
#  > npm install @react-navigation/native
#  > npx expo install react-native-screens

# Google Firebase Authentication Process
#  > npx expo customize metro.config.js